<!doctype html>
<html data-ng-app='trigulous' data-ng-csp>
<head>
    <link rel="stylesheet" type="text/css" href="css/semanticui/css/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="css/trigulous.css">

    <script src="js/lib/lodash-2.1.0.min.js"></script>
    <script src="js/lib/jquery-2.0.3.min.js"></script>
    <script src="css/semanticui/javascript/semantic.min.js"></script>
    <script src='js/lib/angular-1.1.5.min.js'></script>
    <script src='js/app.js'></script>
    <script src='js/controllers.js'></script>
</head>
<body>

<div class="ui one column page grid">

    <div class="column" data-ng-controller='CalcCtrl'>

        <div class="ui top attached segment small form">

            <div class="inline field" data-ng-class="{ error: errors.degrees }">
                <label>Degrees</label>
                <input placeholder="Enter degrees..." name="degrees" type="text" data-ng-model="degrees" data-ng-change="inputChanged()">
                <div class="ui red label pointing left" data-ng-show="errors.degrees">Invalid</div>
            </div>

            <div class="inline field" data-ng-class="{ error: errors.minutes }">
                <label>Minutes&nbsp;</label>
                <input placeholder="Enter minutes..." name="minutes" type="text" data-ng-model="minutes" data-ng-change="inputChanged()">
                <div class="ui red label pointing left" data-ng-show="errors.minutes">Invalid</div>
            </div>
            <div class="inline field" data-ng-class="{ error: errors.seconds }">
                <label>Seconds</label>
                <input placeholder="Enter seconds..." name="seconds" type="text" data-ng-model="seconds" data-ng-change="inputChanged()">
                <div class="ui red label pointing left" data-ng-show="errors.seconds">Invalid</div>
            </div>
            <div class="ui horizontal divider">
                AND
            </div>
            <div class="inline field" data-ng-class="{ error: errors.distance }">
                <label>Distance</label>
                <input placeholder="Enter distance..." name="distance" type="text" data-ng-model="distance"
                       data-ng-change="inputChanged()">
                <div class="ui red label pointing left" data-ng-show="errors.distance">Invalid</div>
            </div>
        </div>

        <div class="ui attached segment selection list">
            <a class="item">
                <div class="ui large horizontal label">Sine</div>
                {{sine}}
            </a>
            <a class="item">
                <div class="ui large horizontal label">Cosine</div>
                {{cosine}}
            </a>
        </div>

        <div class="ui bottom attached segment selection list">
            <a class="item">
                <div class="ui large horizontal label">Secant</div>
                {{secant}}
            </a>
            <a class="item">
                <div class="ui large horizontal label">Decimal</div>
                {{decimal}}
            </a>
        </div>

    </div>

</div>

</body>
</html>